body {
    background-color: #EED8BF;
    /* text-align: center; */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    /* font-weight: bold; */
}

h1 {
    display: flex;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    text-align: center;
    /* font-weight: bold; */
}

h2 {
    display: flex;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
    font-weight: 600;
}

ul li::marker {
    color: rgb(82, 37, 13);
    /* display: flex; */
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #5a3411;
}

li {
    margin-bottom: 20px;
    color: #EED8BF;
    font-size: 28px;
}

.container {
    padding: 10px;
    border: 10px solid rgb(107, 59, 21);
    background-color: #a46744;
    margin: 50px auto;
    max-width: 60%;
    border-radius: 40px;
    margin-top: 48px;
    /* text-align: center; */
}

.info-container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #EED8BF;
    font-size: 30px;
    /* display: flex; */
    align-items: center;
    margin-bottom: 20px;
}

.header-container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #EED8BF;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.buybutton-container {
    display: inline-block;
    background-color: #c08752;
    border: 10px solid rgb(107, 59, 21);
    border-radius: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 8.5%;
    width: 20%;
    text-align: center;
}

.buttons-container {
    display: inline;
    width: 100%;
    margin: 0 auto;
}

.text {
    padding: 20px;
    display: flex;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

input.submit {
    width: 70%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    color: #ffead1;
    opacity: 1;
    background-color: #c08752;
    border-radius: 40px;
    cursor: pointer;
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный черный фон */
    padding-top: 60px;
}

.modal-content {
    border: 10px solid rgb(107, 59, 21);
    background-color: #a46744;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    /* Скругленные углы */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    /* Тень */
    text-align: left;
    /* Текст по левому краю */
}

.modal-content h2 {
    text-align: center;
    /* Центрирование заголовка */
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    /* Курсор в виде руки */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.button-container {
    text-align: center;
    /* Центрирование кнопки */
}

.modal button {
    background-color: #cb8b66;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    /* Скругленные углы у кнопки */
}

.modal button:hover {
    background-color: #5f3821;
    /* Цвет кнопки при наведении */
}

#modalTitle,
#modalPrice,
#modalInsturctions {
    color: #EED8BF;
}