body {
    background-color: var(--main-bg-color);
    margin: 0;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-top: 0;
    font-family: var(--header-font);
    font-size: 32px;
}

.settings {
    color: var(--header-color);
    font-size: 32px;
}


hr {
    border-color: var(--border-color);
    width: 100%;
    opacity: 0.5;
}

.container-settings,
.button-action {
    border: 10px solid var(--border-color);
    border-radius: 40px;
}

.container-settings {
    background-color: var(--container-bg-color);
    margin: 20px auto;
    max-width: 50%;
    max-height: 100%;
    height: auto;
    margin-top: 48px;
}

.name-container,
label {
    color: var(--main-bg-color);
}

.name-container {
    margin-top: 20px;
}

label {
    display: block;
    padding: 13px;
    font-weight: bold;
}

input {
    display: block;
    width: 95%;
    margin: auto;
    padding: 13px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background: var(--main-bg-color);
    opacity: var(--input-bg-opacity);
}

.button-action {
    width: 50%;
    padding: 20px;
    background-color: var(--button-active-bg-color);
    font-family: var(--font-secondary);
    font-size: 28px;
    font-weight: bold;
    border: 3px solid var(--main-bg-color);
    margin: 0 auto;
    margin-bottom: 50px;
}

.button-action:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--main-bg-color);
}