/* * {
    box-sizing: border-box;
} */

#chat-page {
    margin-top: 52px;
}

#chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #EED8BF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button {
    cursor: pointer;
    font-size: 1.3rem;
}

input,
textarea,
select {
    font-size: 1.3rem;
}

.hidden {
    display: none;
}

#errors {
    color: red;
    margin: 15px 0;
}

#user-zone {
    margin: 15px 0;
}

#chat-wrap {
    /* background-color: #eea77e; */
    margin: 0 auto;
    padding: 15px;
    width: 70%;
    border-radius: 20px;
    border: 10px solid rgb(107, 59, 21);
    background-color: #a46744;
}

#chat .msg {
    margin-bottom: 15px;
    background-color: #eed8bf;
}

#chat .msg.msg__service {
    color: grey;
}

/* #chat .msg.me {
    background-color: limegreen;
}

#chat .msg.not-me {
    background-color: oldlace;
} */

#message {
    width: 99%;
    background: #d6b289;
}

textarea {
    outline: none;
    padding: 5px;
}

.msg {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.message-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-info {
    display: flex;
    flex-direction: column;
}

.sender-username {
    display: block;
    color: #6f6e6c;
    font-size: 20px;
    text-decoration: none;
}

.sent-at {
    font-size: 0.8em;
    color: #000000;
}

.message-body {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message-content {
    white-space: normal;
}

.sender-username:hover {
    text-decoration: underline;
}

#add-message-btn {
    display: flex;
    padding: 8px 16px;
    background-color: rgb(107, 59, 21);
    color: white;
    border: none;
    border-radius: 4px;
    margin: 20px auto;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 40px;
}