body {
    background-color: var(--main-bg-color);
    margin: 0;
    font-family: var(--main-text-font);
    font-size: 16px;
    font-weight: bold;
}

.user-info-container {
    padding: 10px;
    border: 10px solid var(--border-color);
    text-align: center;
    background-color: var(--main-container-bg-color);
    margin: 20px auto;
    max-width: 60%;
    border-radius: 40px;
    margin-top: 48px;
}

.name-container {
    margin-top: 10px;
}

.name {
    color: var(--header-color);
    font-family: var(--header-font);
    font-size: 32px;
}

.profile-picture-container {
    position: relative;
    margin-top: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: var(--profile-picture-border);
    background-color: var(--profile-picture-bg);
}

.status-container {
    position: relative;
    margin: auto;
    margin-top: 10px;
    max-width: 800px;
}

.status {
    background-color: var(--main-bg-color);
    padding: 10px;
    border-radius: 20px;
    color: var(--main-text-color);
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 40px;
}

.clickable-container {
    display: inline-block;
    border: 5px solid var(--main-container-bg-color);
    background-color: #e6b998;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    color: var(--main-text-color);
    text-decoration: none;
}

.clickable-container:hover {
    border: 5px solid #b57149;
    background-color: #daa077;
    color: #4b2c1a;
}

@media (max-width: 1024px) {
    .container {
        padding: 20px;
        margin: 10px auto;
        max-width: 90%;
        margin-top: 30px;
    }

    .name {
        font-size: 24px;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
    }

    .status {
        font-size: 18px;
    }

    .buttons-container {
        max-width: 80%;
    }
}