body {
    background-color: var(--main-bg-color);
    margin: 0;
    font-family: var(--main-text-font);
    font-size: 16px;
    font-weight: bold;
}

.chat-list {
    list-style: none;
    padding: 0;
    margin: auto;
    margin-top: 49px;
}

.chat-block {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;

    border: 5px solid rgb(107, 59, 21);
    background-color: #a46744;
    max-width: 60%;
    border-radius: 40px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    box-sizing: border-box;
}

.message-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
}

.username {
    color: #eed8bf;
    font-weight: bold;
    font-size: 20px;
}

.last-message {
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    display: inline-block;
}

.last-message-time {
    white-space: nowrap;
    margin-left: 10px;
    flex-shrink: 0;
}