a.side-button {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.side-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e6b998;
    border: 5px solid rgb(84, 46, 14);
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-button {
    display: inline-block;
    margin-right: 10px;
    color: rgb(112, 62, 22);
    text-decoration: none;
    padding: 10px;
}
.side-button:hover {
    display: inline-block;
    margin-right: 10px;
    background-color: #89593d;
    color: #EED8BF;
    text-decoration: none;
    padding: 6px;
    border-radius: 15px;
    border: 4px solid rgb(84, 46, 14);
}
@media (max-width: 1024px) {
    .side-container {
        position:fixed;
        top: 0;
        left: 0;
        background-color: #e6b998;
        border: 5px solid rgb(84, 46, 14);
        width: 100%;
        z-index: 1;
        display:flex;
    }
    
    .side-button {
        display: inline-block;
        margin-right: 10px;
        color: rgb(112, 62, 22);
        text-decoration: none;
        padding: 10px;
    }
    .side-button:hover {
        display: inline-block;
        margin-right: 10px;
        background-color: #89593d;
        color: #EED8BF;
        text-decoration: none;
        padding: 6px;
        border-radius: 15px;
        border: 4px solid rgb(84, 46, 14);
    }
    
}

    
 