<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Добавление поста</title>
    <!-- Подключите необходимые стили -->
</head>

<body>

    <h1>Добавление поста</h1>

    <form method="POST" enctype="multipart/form-data">
        {{ add_post_form.hidden_tag() }}

        <div>
            {{ add_post_form.content.label }} <br>
            {{ add_post_form.content(rows=5, cols=40) }} <br>
            {% for error in add_post_form.content.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ add_post_form.images.label }} <br>
            {{ add_post_form.images(multiple=True) }} <br>
            {% for error in add_post_form.images.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ add_post_form.submit() }}
        </div>
    </form>

</body>

</html>