<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KittenChef Recipe</title>
</head>

<body>
    <h1>Добавить рецепт</h1>
    <form action="/add_recipe" method="POST" enctype="multipart/form-data">
        <input type="text" name="recipe_name" placeholder="Название рецепта">
        <div id="ingredients">
            <h2>Ингредиенты</h2>
            <div class="ingredient">
                <input type="text" name="ingredient_name" placeholder="Название ингредиента">
                <input type="text" name="ingredient_amount" placeholder="Количество">
            </div>
        </div>
        <button type="button" onclick="addIngredient()">Добавить ингредиент</button>

        <h2>Этапы приготовления</h2>
        <div id="steps"></div>
        <button type="button" onclick="addStep()">Добавить этап</button>

        <input type="submit" value="Опубликовать">
    </form>

    <script src="{{ url_for('static', filename='js/add_recipe.js') }}"></script>
</body>

</html>