<!DOCTYPE html>
<html>

<head>
    <title>KittenChef - сообщения с {{ chat_username }}</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo-16x16.png') }}" />
    <link href="{{ url_for('static', filename='css/style_header.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_chat.css') }}">
</head>

<body>
    {% include 'base_header.html' %}

    <div id="chat-page">
        <div id="chat-header">
            <h1>Сообщения с {{ chat_username }}</h1>
        </div>
        <div id="chat-wrap">
            <div id="chat"></div>
            <div id="enter-message">
                <textarea name="message" id="message" rows="3"></textarea>
                <button id="add-message-btn">Отправить сообщение</button>
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        const socket = io()

        const chatWrap = document.querySelector('#chat-wrap')
        const chat = document.querySelector('#chat')
        const textareaMessage = document.querySelector('textarea#message')
        const addMessageBtn = document.querySelector('#add-message-btn')
        const senderId = '{{ current_user.id }}';
        const receiverId = '{{ chat_user_id }}';
        const sender_username = '{{ current_user.username }}'
        const senderIdNum = parseInt(senderId, 10);
        const receiverIdNum = parseInt(receiverId, 10);
        const maxId = Math.max(senderIdNum, receiverIdNum);
        const minId = Math.min(senderIdNum, receiverIdNum);
        const room = `${maxId}r${minId}`;
        socket.emit('join', { chat_user_id: receiverId, room: room })

        addMessageBtn.addEventListener('click', () => {
            const messageContent = textareaMessage.value.trim();
            if (messageContent === '') {
                alert('Сообщение не может быть пустым');
                return;
            }

            socket.emit('message', {
                content: messageContent, receiver_id: receiverId, room: room,
                sender_username: sender_username
            })
            textareaMessage.value = ''
        })

        const newMessage = data => {
            const newMsg = document.createElement('div');
            newMsg.classList.add('msg');

            const avatarUrl = `{{ url_for('uploaded_file', filename='avatars/') }}${data.sender_avatar}`;
            const profileUrl = `/user/${data.sender_username}`;

            newMsg.innerHTML = `
                <div class="message-header">
                    <img class="avatar" src="${avatarUrl}">
                    <div class="message-info">
                        <a href="${profileUrl}" class="sender-username">${data.sender_username}</a>
                        <small class="sent-at">${data.sent_at}</small>
                    </div>
                </div>
                <div class="message-body">
                    <p class="message-content">${data.content}<p>
                </div>
            `;

            chat.append(newMsg);
        };

        window.addEventListener('beforeunload', function (event) {
            socket.emit('leave', {
                room: room
            });
        });

        socket.on('message', data => {
            newMessage(data)
        })

        socket.on('previous_messages', data => {
            chat.innerHTML = ''

            data.forEach(el => {
                newMessage(el)
            })
        })

    </script>

</body>

</html>