<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>KittenChef - лента новостей</title>
    <link href="{{ url_for('static', filename='css/style_header.css') }}" rel="stylesheet">
    <style>
    </style>
</head>

<body>
    {% include 'base_header.html' %}
    <div class="buttons">
        <button class="post-button">НОВЫЙ ПОСТ</button>
        <button class="recipe-button">НОВЫЙ РЕЦЕПТ</button>
    </div>

    <div class="news-feed">
        {% for post in posts %}
        <div class="post">
            <img src="{{ url_for('uploaded_file', filename='avatars/' + post.profile_picture) }}" alt="Аватар автора"
                class="avatar">
            <a href="/user/{{ post.username }}" class="meta-info">{{ post.username }}</a>
            <span class="meta-info">{{ convert_datetime_in_feed(post.created_at) }}</span>
            <p class="content">{{ post.content }}</p>
        </div>
        {% endfor %}
    </div>

</body>

</html>