<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>KittenChef - лента новостей</title>
    <link href="{{ url_for('static', filename='css/style_header.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_feed.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_posts.css') }}" rel="stylesheet">
</head>

<body>
    {% include 'base_header.html' %}
    <div class="buttons">
        <a href="add_post">
            <button class="post-button">НОВЫЙ ПОСТ</button>
        </a>
        <a href="add_recipe">
            <button class="recipe-button">НОВЫЙ РЕЦЕПТ</button>
        </a>
        {% if current_user.is_premium %}
        <a href="add_video_recipe">
            <button class="video-recipe-button">НОВЫЙ ВИДЕО-РЕЦЕПТ</button>
        </a>
        {% endif %}
    </div>

    {% include 'posts.html' %}
</body>

</html>