<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Авторизация</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style_register_login.css">
</head>
<body>
  <div class="container">
    <br><h1>Авторизация</h1>
    <form class="contact-form" method="post">
      <label for="email">E-MAIL</label>
      <input type="text" name='email' id="email">
      <label for="password">ПАРОЛЬ</label>
      <input type="password" maxlength="15" name='password' id="password">
      <input class="submit" value="ВХОД В АККАУНТ" type="submit">
    </form>
  </div>
</body>

</html>