<!DOCTYPE html>
<html>

<head>
    <title>KittenChef - мессенджер</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo-16x16.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_messages.css') }}">
</head>

<body>
    {% include 'base_header.html' %}
    {% if chats|length > 0 %}
    <div class="chat-list">
        {% for chat in chats %}
        <a class="chat-block" href="{{ url_for('chat', chat_username=chat.chat_partner_username) }}">
            <img src="{{ url_for('uploaded_file', filename='avatars/' + chat.chat_partner_avatar) }}" class="avatar">
            <div class="chat-info">
                <div class="message-details">
                    <span class="username">{{ chat.chat_partner_username }}</span>
                    <span class="last-message">{{ chat.last_message_text }}</span>
                </div>
                <span class="last-message-time">{{ convert_datetime_in_chat(chat.last_message_sent_at) }}</span>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="no-friends-container">
        <img src="{{ url_for('static', filename='images/kitten_not_friends.png') }}" class="no-friends-image">
        <div class="name-container">
            <h1>У Вас пока нет сообщений...</h1>
        </div>
    </div>
    {% endif %}
    </ul>
</body>