<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat Messages</title>
</head>

<body>
    <h1>Chat Messages</h1>
    <div id="messages">
        {% for message in messages %}
        <div class="message">
            <div class="meta-info">
                <span class="sender">From: {{ message.sender_username }}</span>
                <span class="receiver">To: {{ message.receiver_username }}</span>
                <span class="timestamp">{{ message.sent_at }}</span>
            </div>
            <p class="content">{{ message.content }}</p>
        </div>
        {% endfor %}
    </div>

    <form method="POST">
        <label for="message">Сообщение:</label>
        <textarea id="message" name="message" rows="4" cols="50" required></textarea>

        <br>
        <!-- Кнопка отправки -->
        <input type="submit" value="Отправить">
    </form>
</body>

</html>