<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>KittenChef - восстановление пароля</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_register_login.css">
</head>

<body>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">
        <h1>{{ msg }}</h1>
    </div>
    {% endfor %}
    <div class="container">
        <br>
        <h1>Восстановление пароля</h1>
        <form class="contact-form" method="post">
            <label for="email">E-MAIL</label>
            <input type="text" name='email' id="email">
            <input class="submit" value="ВОССТАНОВИТЬ" type="submit">
        </form>
    </div>
</body>

</html>