<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_register_login.css">
</head>

<body>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">
        <h1>{{msg}}</h1>
    </div>
    {% endfor %}
    <div class="container">
        <br>
        <h1>Восстановление пароля</h1>
        <form class="contact-form" method="post">
            <label for="email">E-MAIL</label>
            <input type="text" name='email' id="email">
            <!-- <label for="password">ПАРОЛЬ</label>
            <input type="password" maxlength="15" name='password' id="password"> -->
            <input class="submit" value="ВОССТАНОВИТЬ" type="submit">
            <!-- <p><a href="{{ url_for('password_recovery')}}">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</a></p>
            <p><a href="{{ url_for('register')}}">РЕГИСТРАЦИЯ</a></p> -->
        </form>
    </div>
</body>

</html>