<!DOCTYPE html>
<html>

<head>
    <title>KittenChef - восстановление пароля</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo-16x16.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_register_login.css') }}">
</head>

<body>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">
        <h1>{{ msg }}</h1>
    </div>
    {% endfor %}
    <div class="container">
        <br>
        <h1>Восстановление пароля</h1>
        <form class="contact-form" method="post">
            {{ password_recovery_form.csrf_token }}

            {{ password_recovery_form.email.label }}
            {{ password_recovery_form.email() }}

            {{ password_recovery_form.submit(class_='submit') }}
        </form>
    </div>
</body>

</html>