<div class="notes-container">
    {% for note in notes %}
    <div class="note">
        <img src="{{ url_for('uploaded_file', filename='avatars/' + note.profile_picture) }}" alt="Аватар автора"
            class="note-avatar">
        <a href="/user/{{ note.username }}" class="note-info">{{ note.username }}</a>
        <span class="note-info">{{ convert_datetime_in_feed(note.created_at) }}</span>
        {% if note.type == 'post' %}
        <p class="post-content">{{ note.content }}</p>
        {% elif note.type == 'recipe' %}
        <h1 class="recipe-name"> {{ note.recipe_name }}</h1>
        <h2 class="recipe-headers">Ингредиенты</h2>
        <ul class="recipe-text">
            {% for ingredient in note.ingredients %}
            <li>{{ ingredient.name }} - {{ ingredient.amount }}</li>
            {% endfor %}
        </ul>

        <h2 class="recipe-headers">Шаги приготовления</h2>
        <ul class="recipe-text">
            {% for step in note.steps %}
            <h3>{{ step.title }}</h3>
            <li>{{ step.duration }} - {{ step.description }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <button class="like-button" data-note-id="{{ note.note_id }}"
            data-liked="{{ 'true' if note.is_liked else 'false' }}">
            <img
                src="{{ url_for('static', filename='images/' + ('like_hover.svg' if note.is_liked else 'like_idle.svg')) }}">
        </button>

        <span class="stat" id="like-count-{{ note.note_id }}">{{ note.like_count }}</span>

        <button class="toggle-comments-btn" data-note-id="{{ note.note_id }}">
            <img src="{{ url_for('static', filename='images/comments_idle.svg') }}" alt="Показать комментарии">
        </button>

        <button class="favorite-button" data-note-id="{{ note.note_id }}"
            data-favorited="{{ 'true' if note.is_favorited else 'false' }}">
            <img
                src="{{ url_for('static', filename='images/' + ('favorite_hover.svg' if note.is_favorited else 'favorite_idle.svg')) }}">
        </button>

        <span class="stat" id="favorite-count-{{ note.note_id }}">{{ note.favorite_count }}</span>
    </div>

    <div class="comments-section" style="display: none;">
    </div>

    <div class="new-comment-form" style="display: none;">
        <div class="new-comment-input-div">
            <textarea class="new-comment-input" placeholder="Напишите комментарий..."></textarea>
        </div>
        <button class="submit-comment-btn" data-note-id="{{ note.note_id }}">Добавить комментарий</button>
    </div>
    {% endfor %}
</div>
<script src="{{ url_for('static', filename='js/notes.js') }}"></script>