<!DOCTYPE html>
<html>
<head>
    <title>Премиум</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style_premium.css">
</head>
<body>
    {% include 'base_header.html' %}
    <div class="container">
        <div class="info-container">
           <p>
            Эй, юный кулинар! Доставай кошелек и покупай премиум!
           </p> 
        </div>   
    </div>
    <input class="submit" value="КУПИТЬ ПРЕМИУМ" type="button">
</body>
</html>