<!DOCTYPE html>
<html>

<head>
    <title>KittenChef - регистрация</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo-16x16.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_register_login.css') }}">
</head>

<body style="background-color: #EED8BF;">
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">
        <h1>{{msg}}</h1>
    </div>
    {% endfor %}
    <div class="container">
        <br>
        <h1>Регистрация</h1>
        <form class="contact-form" method="post">
            {{ register_form.csrf_token }}

            {{ register_form.username.label }}
            {{ register_form.username(placeholder="Не более 10 символов") }}

            {{ register_form.email.label }}
            {{ register_form.email() }}

            {{ register_form.password.label }}
            {{ register_form.password(placeholder="Не более 15 символов") }}

            {{ register_form.confirm_password.label }}
            {{ register_form.confirm_password(placeholder="Не более 15 символов") }}

            {{ register_form.submit(class_='submit')}}
        </form>
    </div>
</body>

</html>