<!DOCTYPE html>
<html>

<head>
    <title>Настройки пользователя</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_settings.css') }}">
</head>

<body>
    <div class="container-settings">
        <div class="name-container">
            <h1>Настройки пользователя</h1>
        </div>
        <hr />
        <form class="update-info" method="post" action="/settings">
            <label for="username">Имя пользователя:</label>
            {% if current_user.is_premium %}
            <input type="text" id="username" name="username" value="{{ current_user.username }}" required>
            {% else %}
            <input type="text" id="username" name="username" value="{{ current_user.username }}" required readonly>
            {% endif %}
            <hr />
            <label for="email">Адрес электронной почты:</label>
            <input type="email" id="email" name="email" value="{{ current_user.email }}" required>
            <hr />
            <label for="status">Статус:</label>
            <input type="text" id="status" name="status" value="{{ current_user.status }}" required>
            <hr />
            <label for="profile_picture">Аватар (изображение):</label>
            <input type="file" id="profile_picture" name="profile_picture">
            <hr />
            <br>
            <input class="submit" value="Сохранить изменения" type="submit">
        </form>

        <a href="/">Вернуться на главную страницу</a>
</body>
</div>

</html>