<!DOCTYPE html>
<html>

<head>
    <title>Профиль пользователя</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style_user_profile.css">
</head>

<body>
    {% include 'base_header.html' %}
    <div class="container">
        <div class="name-container">
            <h1 class="name">{{ user_info.username }}</h1>
        </div>
        <div class="profile-picture-container">
            <img class="profile-picture" src="{{ url_for('static', filename='images/kitten_night.png') }}"
                alt="Profile Picture">
        </div>
        <div class="status-container">
            <p class="status">{{ user_info.status }}</p>
        </div>
    </div>
    <div class="buttons-container">
        <a href="#" class="clickable-container">Лайки</a>
    </div>
    <div class="buttons-container">
        <a href="#likes" class="clickable-container">Коллекции</a>
    </div>
    <div class="container-post">
    </div>
</body>

</html>