<!DOCTYPE html>
<html>

<head>
    <title>KittenChef - {{ user_info.username }}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo-16x16.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_user_profile.css') }}">
</head>

<body>
    {% include 'base_header.html' %}
    <div class="container">
        <div class="name-container">
            <h1 class="name">{{ user_info.username }}</h1>
        </div>
        <div class="profile-picture-container">
            <img class="profile-picture"
                src="{{ url_for('uploaded_file', filename='avatars/' + user_info.profile_picture) }}"
                alt="Profile Picture">
        </div>
        <div class="status-container">
            <p class="status">{{ user_info.status }}</p>
        </div>

        {% if current_user.username != user_info.username %}
        <form method="post">
            {{ add_friend_form.hidden_tag() }}
            <div class="buttons-container">
                {{ add_friend_form.submit(class_='clickable-container') }}
            </div>
        </form>
        {% endif %}
    </div>
    <div class="buttons-container">
        <a href="#" class="clickable-container">Лайки</a>
    </div>
    <div class="buttons-container">
        <a href="#likes" class="clickable-container">Коллекции</a>
    </div>
    <div class="container-post">
    </div>
</body>

</html>